{
  "presets": [
    ["next/babel", {
      "preset-env": {
        "targets": {
          "chrome": "80",
          "firefox": "78",
          "safari": "14",
          "edge": "80"
        },
        "modules": false
      }
    }]
  ]
}
